/* Back to top */
.back-to-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  transition: all .5s;
  text-align: center;
  color: $color-white-0;
  background: $color-grey-7;
  line-height: $line-height-1 * 2;
  visibility: hidden;
  opacity: 0;
  &:hover {
    background: $color-green-0;
    color: $color-black-0;
  }
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}