.title {
  text-align: center;
  margin-bottom: $mg-5;
    h3 {
      font-size: $fs-3;
      line-height: $line-height-0;
      text-transform: uppercase;
      margin-bottom: $mg-2;
      padding-bottom: $pd-1;
      position: relative;
      &::after {
        content: "";
        width: 60px;
        height: 2px;
        background-color: $color-black-1;
        display: block;
        position: absolute;
        bottom: -10px;
        left: 47%;
      }
    }
    p {
      color: $color-grey-0;
      line-height: $line-height-2;
      width: 60%;
      margin: 0 auto;
    }
    @include responsive("medium") {
      h3 {
        font-size: $fs-2;
      }
    }
}