.feedback {
  padding: $pd-5 0;
  .feedback__item {
    text-align: center; 
    max-width: 650px;
    margin: 0 auto;
    transition: all 0.5s;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: $mg-2;
      display: inline-block;     
    }
    p {
      font-size: $fs-1 + 1;
      font-style: italic;
      line-height: $line-height-2 + 5;
      margin: 0 0 $mg-1 + 5;
      color: $color-grey-0;
      
    }
    .feedback__author {
      margin-top: $mg-2 - 10;
      letter-spacing: $letter-spacing-1 + 1;
      text-transform: uppercase;
      color: $color-black-2;
      font-size: $fs-1 - 1;
      p {
        margin-bottom: 0;
      }
      span {
        color: $color-grey-11;
        font-size: $fs-0 - 1;
      }
    }
  }
}

.partner {
  padding: $pd-5 0;
  border-top: 1px solid $color-grey-9;
  // .feedback__partner {
  //   margin: 0 auto;
  //   .partner-carousel {
  //     img {
  //       width: 120px;
  //     }
  //   }
    
  // }
  @include responsive("extra-large") {
    .cover__content {
      .partner-carousel {
        img {
          width: 120px;
        }
      }
    }
  }
}