.services {
  padding: $pd-5 0;
  .services__title {
    text-align: center;
    margin-bottom: $mg-4 + 50;
    h2 {
      font-size: $fs-3;
      line-height: $line-height-0;
      text-transform: uppercase;
      margin-bottom: $mg-2;
      padding-bottom: $pd-1;
      position: relative;
      &::after {
        content: "";
        width: 60px;
        height: 2px;
        background-color: $color-black-1;
        display: block;
        position: absolute;
        bottom: -10px;
        left: 47%;
      }
    }
    p {
      color: $color-grey-0;
      line-height: $line-height-2;
      width: 60%;
      margin: 0 auto;
    }
  }
  .services__content {
    .services__item {
      padding: $pd-4 + 10;
      border: 1px solid $color-grey-1;
      border-radius: $border-radius-1;
      position: relative;
      &:hover {
        i {
          background-color: $color-green-0;
        }
      }
      i {
      width: 60px;
      height: 60px;
      text-align: center;
      font-size: $fs-3 + 6;
      border-radius: $border-radius-1;
      background: $color-black-2;
      box-shadow: 0 0 0 10px #fff;
      line-height: $line-height-3;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $color-white-0;
      position: absolute;
      top: -30px;
      left: 30px;
      transition: all 0.5s;
      }
      h3 {
        text-transform: uppercase;
        margin-bottom: $mg-1 - 5;
        margin-top: $mg-1 + 5;
        letter-spacing: $letter-spacing-1;
        color: $color-black-3;
        font-size: $fs-2;
      }
      p {
        color: $color-grey-0;
        margin-bottom: 0;
      }
    }
  }
  @include responsive("large") {
    .services__content {
      .services__item {
        margin: 0 0 $mg-3;
      }
    }
  }
}